<header class="public-header">
  <div class="header-left">
    <img src="assets/img/image.png" alt="Logo GlobalSync" class="logo" />
    <h1>GlobalSync</h1>
  </div>

  <nav class="header-right">
    <a routerLink="/login" class="btn-login">Iniciar sesión</a>
  </nav>
</header>

<main>
  <section class="hero">
    <h2>📦 Rastrea tu envío</h2>
    <p>Consulta el estado de tu paquete ingresando el número de guía.</p>

    <!-- 🔹 Aquí se muestra el formulario de rastreo -->
    <app-tracking></app-tracking>
  </section>
</main>

<footer>
  <p>© 2025 GlobalSync | Sistema de Importaciones</p>
</footer>
