<div class="sidebar">
  <img src="assets/img/image.png" alt="Logo" class="sidebar-logo" />
  <h2 class="sidebar-title">System Imports</h2>

  <nav class="sidebar-menu">
    <a routerLink="/dashboard">
      <i class="fa-solid fa-chart-column"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/invoices">
      <i class="fa-solid fa-money-bill-wave"></i>
      <span>Facturación</span>
    </a>
    <a routerLink="/tracking">
      <i class="fa-solid fa-box"></i>
      <span>Rastreo</span>
    </a>
    <a routerLink="/shipments">
      <i class="fa-solid fa-truck"></i>
      <span>Gestión de envíos</span>
    </a>
    <a routerLink="/users">
      <i class="fa-solid fa-users"></i>
      <span>Gestión de usuarios</span>
    </a>
  </nav>
</div>
